body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url('background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#gameContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
}

#road {
    position: relative;
    width: 45%;
    height: 150%;
    background-image: url("background.png");
    overflow: hidden;
    border: 5px solid #222;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#car {
    position: absolute;
    bottom: 30px;
    width: 50px;
    height: 60px;
    background: url('police_car.png') no-repeat center / contain;
    left: calc(50% - 40px);
}
#car2 {
    position: absolute;
    bottom: 90px; 
    width: 50px; 
    height: 60px; 
    background: url('car2.png') no-repeat center / contain; 
    left: calc(50% + 40px);
}


.obstacle {
    position: absolute;
    width: 40px;
    height: 60px;
    background: url('modern_caaaaaaaaaaaaar.png') no-repeat center / contain;
}

.coin {
    position: absolute;
    width: 20px;
    height: 20px;
    background: url('coin.png') no-repeat center / contain;
}

.rareCoin {
    background-color: gold;
    border-radius: 50%;
}

#score, #highestScore {
    margin-top: 10px;
    font-size: 20px;
    background: #222;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#startButton {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}

#gameOverText {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 34px;
    font-weight: bold;
    color: #FF5733;
}

.Tutorial {
    margin-top: 100px;
    font-size: small;
}

h1 {
    font-size: 30px;
}
